.services {
  margin-bottom: 100px;

  .title {
      text-align: center;
      margin-bottom: 90px;

    h2 {
      @include h-styles(30px, #394b50, 800, 10px, uppercase);
    }
    p {
      color: #7b7b7b
    }
  }

  .services-block {
    width: 50%;
    padding-bottom: 60px;
    display: flex;

    &:nth-child(odd) {
      padding-right: 80px;
    }

    .icon-services {
      width: 15%;
      padding-right: 30px;
    }
    .text-services {
      width: 85%;

      h4 {
        @include h-styles(20px, #394b50, 550, 15px, uppercase);
      }

      p{
        font-size: 14px;
        line-height: 18px;
        color: #7b7b7b;
      }
    }

  }

}