.about-us {
  background-color: $menu-bg-color;
  height: 620px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/about-us-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .container,
  .row {
    height: 100%;
  }

  .left-about-us {
    width: 50%;
  }

  .right-about-us {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;


     h3 {
       @include h-styles(35px, white, bold, 25px, uppercase);
     }

    p {
      color: white;
      font-size: 16px;
      line-height: 23px;
      padding-bottom: 35px;
    }

    a {
      @include btns(15px, 30px, white, transparent, 1px solid #e7ad48);
    }

  }
}