header {
  background-color: #ffffff;
  padding: 15px 0;


  label[for=menu-trigger] {
    display: none;
  }

  #menu-trigger {
    display: none;
  }
    nav {
      display: flex;
      justify-content: space-between;

      ul {
      list-style: none;
        align-items: center;

          a {
          padding: 10px 15px;
          display: inline-block;
          color: #868686;
            font-size: 15px;
          border-right: none;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 550;
          transition: background-color .3ms;

          &:hover {
          color: white;
          background-color: $menu-bg-color;
          }
          }
      }
    }
}